services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: recipebook-app
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - mysql
    ports:
      - "5173:5173" 
    stdin_open: true
    tty: true

  nginx:
    image: nginx:1.27
    container_name: recipebook-nginx
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: recipebook-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: recipebook
      MYSQL_USER: recipe
      MYSQL_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
